$font-size-h1: 2.875rem;
$font-size-h2: 2rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;
$font-size-h5: 0.75rem;
$font-size-text: 1rem;

$indent-xs: 2px;
$indent-sm: 4px;
$indent-md: 8px;
$indent-lg: 16px;
$indent-xl: 32px;


$width-desktop-medium-resolution: 1780px;
$width-desktop: 1500px;
$width-desktop-low: 1280px;
$width-tablet: 900px;
$width-mobile: 768px;